*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: hsl(243deg, 87%, 12%);
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1,
h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3.2rem;
  }
}
.link {
  text-decoration: none;
}
.link--primary {
  color: hsl(243deg, 87%, 12%);
}
.link--primary:hover {
  color: hsl(224deg, 93%, 58%);
}
.link--secondary {
  color: hsl(170deg, 45%, 43%);
  border-bottom: 1px solid hsl(170deg, 45%, 43%);
  padding-bottom: 0.5rem;
}
.link--secondary::after {
  content: url(../images/icon-arrow.svg);
  vertical-align: middle;
  margin-left: 0.5rem;
}
.link--secondary:hover {
  opacity: 0.6;
}

.list {
  list-style: none;
  display: flex;
}
.list--nav {
  font-size: 1.8rem;
  gap: 3.3rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.list--footer {
  flex-direction: column;
  gap: 2.3rem;
  font-size: 2.3rem;
}
.list--footer .link--primary {
  color: hsl(240deg, 75%, 98%);
}
.list--footer .link--primary:hover {
  color: hsl(224deg, 93%, 58%);
}

@media screen and (min-width: 768px) {
  .list--nav {
    gap: 5rem;
  }
  .list--footer {
    font-size: 1.7rem;
    gap: 1.5rem;
  }
}
.icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid hsl(240deg, 75%, 98%);
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.icon-container {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}
.icon .link--primary {
  color: hsl(240deg, 75%, 98%);
}
.icon:hover {
  border-color: hsl(224deg, 93%, 58%);
}
.icon:hover .link--primary {
  color: hsl(224deg, 93%, 58%);
}

.btn {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 100%;
  border: none;
  font-size: 1.8rem;
  border-radius: 3px;
  padding: 2rem 6rem;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.btn--primary {
  background: hsl(224deg, 93%, 58%);
  color: hsl(240deg, 75%, 98%);
}
.btn--primary:hover {
  background-color: #7a9cfa;
}
.btn--m {
  border-radius: 0;
  padding: 1.5rem 3.2rem;
}

@media screen and (min-width: 768px) {
  .btn {
    width: auto;
    font-size: 1.4rem;
    padding: 1.5rem 6rem;
  }
}
.grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 3rem;
}

.block {
  height: 500px;
  -webkit-clip-path: circle(300vh at 50% 303vh);
          clip-path: circle(300vh at 50% 303vh);
}

.input {
  padding: 1.8rem 3rem;
  font-size: 1.8rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 1px solid hsl(243deg, 87%, 12%);
  width: 100%;
  outline: none;
}
.input-group {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input::-moz-placeholder {
  color: hsl(0deg, 0%, 75%);
}
.input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 75%);
}
.input::placeholder {
  color: hsl(0deg, 0%, 75%);
}
.input__error {
  font-size: 1.3rem;
  display: none;
  color: #e60000;
  align-self: flex-start;
  margin-top: -1rem;
}

.display {
  display: block;
  border-color: #e60000;
}

@media screen and (min-width: 768px) {
  .input {
    padding: 1.4rem 2rem;
    font-size: 1.4rem;
    border-radius: 3px;
  }
  .input-group {
    flex-direction: row;
    gap: 1.5rem;
  }
  .input--bottom {
    flex-direction: column;
  }
  .input--bottom .btn {
    align-self: flex-start;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo {
  width: 12rem;
}

@media screen and (min-width: 768px) {
  .nav .logo {
    width: 17rem;
  }
}
.header {
  padding-top: 3rem;
}

.hero {
  margin-top: 15rem;
}
.hero__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.hero__content {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row: 2/3;
}

@media screen and (min-width: 1024px) {
  .header {
    padding-top: 6rem;
  }
  .hero {
    margin-top: 9rem;
  }
  .hero__content {
    text-align: left;
    grid-row: 1/2;
  }
  .hero__content .input-group {
    max-width: 50rem;
  }
}
.testimonial {
  padding: 2rem 3rem;
  padding-right: 2rem;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  max-width: 36rem;
}
.testimonial__text {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}
.testimonial__text::before {
  content: url(../images/icon-quotes.svg);
  zoom: 1.5;
  line-height: 0;
  display: block;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}
.testimonial__person {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.testimonial__person .person__avatar {
  width: 3.5rem;
  border-radius: 50%;
  display: block;
}
.testimonial__person .person__details {
  display: flex;
  flex-direction: column;
}
.testimonial__person .person__name {
  font-weight: 700;
  font-size: 1.4rem;
}
.testimonial__person .person__designation {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .testimonial__text {
    font-size: 1.4rem;
  }
  .testimonial__person .person__name {
    font-size: 1.2rem;
  }
  .testimonial__person .person__designation {
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */