$color-primary: hsl(224, 93%, 58%);
$color-secondary: hsl(170, 45%, 43%);
$color-heading: hsl(243, 87%, 12%);
$color-grey: hsl(0, 0%, 75%);
$color-bg: hsl(240, 75%, 98%);
$color-bg-2: hsl(238, 22%, 44%);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// Typography

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: $color-heading;
  // background-color: $color-heading;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1,
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3.2rem;
  }
}

//  Links

.link {
  text-decoration: none;

  &--primary {
    color: $color-heading;
    &:hover {
      color: $color-primary;
    }
  }
  &--secondary {
    color: $color-secondary;
    border-bottom: 1px solid $color-secondary;
    padding-bottom: 0.5rem;
    &::after {
      content: url(../images/icon-arrow.svg);
      vertical-align: middle;
      margin-left: 0.5rem;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}

// Lists

.list {
  list-style: none;
  display: flex;
  &--nav {
    font-size: 1.8rem;
    gap: 3.3rem;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
  }
  &--footer {
    flex-direction: column;
    gap: 2.3rem;
    font-size: 2.3rem;
    .link--primary {
      color: $color-bg;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .list {
    &--nav {
      gap: 5rem;
    }
    &--footer {
      font-size: 1.7rem;
      gap: 1.5rem;
    }
  }
}

// Icons

.icon {
  &-container {
    display: flex;
    gap: 1.2rem;
    cursor: pointer;
  }
  .link--primary {
    color: $color-bg;
  }
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid $color-bg;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  &:hover {
    .link--primary {
      color: $color-primary;
    }
    border-color: $color-primary;
  }
}

// Buttons

.btn {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 100%;
  border: none;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 1.5rem 6rem;
  text-align: center;
  &--primary {
    background: $color-primary;
    color: $color-bg;
  }
  &--m {
    border-radius: 0;
    padding: 1.5rem 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    width: auto;
    &--m {
    }
  }
}
